/* variables */
:root {
    --black-color: #19161a;
    --second-black-color: #1a1a1f;
    --white-color: #ffffff;
    --blue-color: #0a0315;
    --second-blue-color: #242943;
    --gray-color: #b0aeaa;
    --second-gray-color: #f2f2f2;
    --background-color: rgba(0, 0, 0, 0.4);
}

/* general */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    z-index: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* header */
.header {
    width: 100%;
    padding: 2rem;
    /* background: yellow; */
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

 .scrolled {
     padding: 1rem;
     background: var(--blue-color);
 }

.main-header {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.navigation {
    height: 100vh;
    width: 100%;
    background-color: var(--blue-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1rem;
    visibility: hidden;
    transform: translateX(100%);
}

.navigation-active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: visibility 0s, -webkit-transform 0.6s;
    transition: visibility 0s, -webkit-transform 0.6s;
    -o-transition: transform 0.6s, visibility 0s;
    transition: transform 0.6s, visibility 0s;
    transition: transform 0.6s, visibility 0s, -webkit-transform 0.6s;
    visibility: visible;
}

.navigation-list {
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-item {
    margin-left: 0;
    padding: 1rem 0;
}

.navigation-list a {
    width: 100%;
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.3s, background 0.3s;
}

.navigation-list a:hover {
    color: var(--black-color);
    background: var(--white-color);
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: block;
}

.hamburger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color 0.1s 0.2s ease-in-out;
    -o-transition: background-color 0.1s 0.2s ease-in-out;
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

.hamburger, .navigation {
    -webkit-transition: visibility 0.3s, -webkit-transform 0.6s;
    transition: visibility 0.3s, -webkit-transform 0.6s;
    -o-transition: transform 0.6s, visibility 0.3s;
    transition: transform 0.6s, visibility 0.3s;
    transition: transform 0.6s, visibility 0.3s, -webkit-transform 0.6s;
}

.hamburger-active .hamburger-inner {
    background-color: transparent;
}

.hamburger-active .hamburger-inner::before {
    background-color: var(--gray-color);
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
    background-color: var(--gray-color);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

/* hero */
.hero {
    width: 100%;
    background: url("../img/owl.jpg") no-repeat center/cover;
}

.hero-wrapper {
    width: 100%;
    padding: 10rem 1rem;
    color: var(--white-color);
    line-height: 1.5;
    text-align: center;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-header {
    text-transform: uppercase;
    position: relative;
}

.second-header::after {
    content: "";
    width: 300%;
    height: 3px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    margin-left: -100%;
    bottom: -20px;
}

.hero-paragraph {
    width: 100%;
}

/* description */
.description {
    padding: 5rem 0;
    background: var(--second-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-wrapper {
    background: var(--white-color);
}

.description-photo {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.description-photo img {
    width: 100%;
    height: 100%;
}

.description-text {
    padding: 2rem 2.5rem 5rem;
    text-align: center;
}

.third-header {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.third-header::after {
    content: "";
    width: 30%;
    height: 3px;
    background: var(--black-color);
    position: absolute;
    left: 0;
    margin-left: 35%;
    bottom: -15px;
}

/* the-senses */
.the-senses, .environment, .food {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.the-senses, .food {
    background: var(--blue-color);
    flex-direction: column;
}

.environment {
    background: var(--second-gray-color);
    flex-direction: column-reverse;
}

.the-senses-text, .environment-text, .food-text {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
}

.the-senses-text, .food-text {
    color: var(--white-color);
}

.fourth-header {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.fourth-header::after {
    content: "";
    width: 30%;
    height: 3px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    margin-left: 35%;
    bottom: -15px;
}

.environment .fourth-header::after {
    background: var(--black-color);
}

.the-senses-photo, .environment-photo, .food-photo {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.the-senses-photo img, .environment-photo img, .food-photo img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

/* environment */
.environment-list {
    padding-left: 1rem;
}

/* gallery */
.gallery {
    padding: 5rem 0;
    background: var(--second-gray-color);
    text-align: center;
}

.photo-boxes {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    width: 20rem;
    height: 20rem;
    z-index: 0;
    margin: 1.5rem;
    position: relative;
}

.box::before {
    content: "";
    border-top: 5rem solid var(--second-gray-color);
    border-left: 0 solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.box::after {
    content: "";
    border-top: 0 solid transparent;
    border-left: 5rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 5rem solid var(--second-gray-color);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.box-inside {
    width: 20rem;
    height: 20rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.box-inside::before {
    content: "";
    border-top: 5rem solid var(--second-gray-color);
    border-left: 5rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

.box-inside::after {
    content: "";
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 5rem solid var(--second-gray-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.the-senses-photo img:hover, .environment-photo img:hover, .food-photo img:hover, .box img:hover {
    transform: scale(1.2);
}

/* footer */
.footer {
    background: var(--black-color);
}

.footer-wrapper {
    padding: 5rem 0 1rem;
    color: var(--gray-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons {
    margin-bottom: 4rem;
}

.social-icons a {
    color: var(--white-color);
    font-size: 2.5rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--gray-color);
}

/* media queries*/
@media only screen and (min-width: 1000px) {
    .header {
        padding: 2rem 5rem;
    }

    .hero-wrapper {
        padding: 10rem 0 10rem 5rem;
        color: var(--white-color);
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .second-header::after {
        margin-left: 0;
    }

    .hero-paragraph {
        width: 40%;
    }

    .the-senses, .environment, .food {
        flex-direction: row;
        justify-content: center;
    }

    .the-senses-text, .environment-text, .food-text {
        width: 60%;
        padding: 0 3rem;
        text-align: left;
    }

    .fourth-header::after {
        margin-left: 0;
    }

    .the-senses-photo, .environment-photo, .food-photo {
        width: 40%;
        height: 100vh;
    }
}
